# Hi
## This is markdown

In [3]:
#import stuffs
import numpy as np
import pandas as pd

In [10]:
#my dementia dataset see if it works
dataset = pd.read_csv('C:/Users/tp-limwj/Downloads/dementia.csv')
dataset.head()
display(dataset)

,ID,age,gender,dementia,dementia_all,educationyears,EF,PS,Global,diabetes,...,hypercholesterolemia,lacunes_num,fazekas_cat,study,study1,SVD Simple Score,SVD Amended Score,Fazekas,lac_count,CMB_count
0,1,52.67,male,0.0,0,11.0,-2.403333,-1.290000,-1.287000,0,...,Yes,more-than-zero,2 to 3,scans,scans,3.0,7.0,3,>5,>=1
1,10,64.58,male,0.0,0,10.0,1.280000,0.360000,0.744000,0,...,Yes,more-than-zero,0 to 1,scans,scans,2.0,3.0,1,1 to 2,>=1
2,100,74.92,male,0.0,0,8.0,-1.440000,-1.520000,-0.922000,0,...,Yes,more-than-zero,0 to 1,scans,scans,1.0,2.0,1,1 to 2,0
3,101,74.83,male,1.0,1,9.0,NaN,-2.136271,-1.301102,0,...,Yes,more-than-zero,2 to 3,scans,scans,2.0,4.0,2,3 to 5,0
4,102,79.25,male,0.0,0,10.0,-0.920000,-1.493333,-0.924000,0,...,Yes,more-than-zero,2 to 3,scans,scans,2.0,3.0,2,1 to 2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1837,989,67.00,female,0.0,0,13.0,-0.100000,-0.020000,-0.260000,0,...,Yes,zero,0 to 1,ASPS-elderly,ASPS,NaN,NaN,0,Zero,0
1838,990,71.00,female,0.0,0,13.0,-0.370000,-1.060000,-1.003333,0,...,Yes,zero,0 to 1,ASPS-elderly,ASPS,NaN,NaN,1,Zero,0
1839,991,55.00,male,0.0,0,10.0,0.460000,0.960000,0.610000,0,...,Yes,zero,0 to 1,ASPS-elderly,ASPS,0.0,0.0,0,Zero,0
1840,995,54.00,male,0.0,0,10.0,0.190000,0.030000,0.590000,0,...,Yes,zero,0 to 1,ASPS-elderly,ASPS,0.0,0.0,1,Zero,0
1841,996,68.00,female,0.0,0,10.0,0.510000,-0.530000,-0.100000,0,...,Yes,more-than-zero,2 to 3,ASPS-elderly,ASPS,NaN,NaN,2,1 to 2,0

# Data Cleaning

In [12]:
#Data types of each variable
print(dataset.dtypes)

ID                        int64
age                     float64
gender                   object
dementia                float64
dementia_all              int64
educationyears          float64
EF                      float64
PS                      float64
Global                  float64
diabetes                  int64
smoking                  object
hypertension             object
hypercholesterolemia     object
lacunes_num              object
fazekas_cat              object
study                    object
study1                   object
SVD Simple Score        float64
SVD Amended Score       float64
Fazekas                   int64
lac_count                object
CMB_count                object
dtype: object

In [22]:
#delete useless columns that idk like dementia, lacunes_num(cus alr in lac_count), study, study1 and fazekas_cat
dataset_clean = dataset.copy()
columns_to_drop = ['dementia', 'lacunes_num', 'study', 'study1', 'fazekas_cat']
dataset_clean.drop(columns = columns_to_drop, axis =1, inplace=True)
display(dataset_clean)

,ID,age,gender,dementia_all,educationyears,EF,PS,Global,diabetes,smoking,hypertension,hypercholesterolemia,SVD Simple Score,SVD Amended Score,Fazekas,lac_count,CMB_count
0,1,52.67,male,0,11.0,-2.403333,-1.290000,-1.287000,0,current-smoker,Yes,Yes,3.0,7.0,3,>5,>=1
1,10,64.58,male,0,10.0,1.280000,0.360000,0.744000,0,ex-smoker,Yes,Yes,2.0,3.0,1,1 to 2,>=1
2,100,74.92,male,0,8.0,-1.440000,-1.520000,-0.922000,0,never-smoker,Yes,Yes,1.0,2.0,1,1 to 2,0
3,101,74.83,male,1,9.0,NaN,-2.136271,-1.301102,0,current-smoker,Yes,Yes,2.0,4.0,2,3 to 5,0
4,102,79.25,male,0,10.0,-0.920000,-1.493333,-0.924000,0,ex-smoker,Yes,Yes,2.0,3.0,2,1 to 2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1837,989,67.00,female,0,13.0,-0.100000,-0.020000,-0.260000,0,never-smoker,Yes,Yes,NaN,NaN,0,Zero,0
1838,990,71.00,female,0,13.0,-0.370000,-1.060000,-1.003333,0,never-smoker,Yes,Yes,NaN,NaN,1,Zero,0
1839,991,55.00,male,0,10.0,0.460000,0.960000,0.610000,0,ex-smoker,No,Yes,0.0,0.0,0,Zero,0
1840,995,54.00,male,0,10.0,0.190000,0.030000,0.590000,0,ex-smoker,No,Yes,0.0,0.0,1,Zero,0
1841,996,68.00,female,0,10.0,0.510000,-0.530000,-0.100000,0,ex-smoker,Yes,Yes,NaN,NaN,2,1 to 2,0

In [24]:
dataset2 = dataset_clean.iloc[:, :-1]
print("# of Rows, # of Columns: ",dataset2.shape)
print("\nColumn Name           # of Null Values\n")
print(dataset2.isnull().sum())

# of Rows, # of Columns:  (1842, 16)

Column Name           # of Null Values

ID                        0
age                       0
gender                    0
dementia_all              0
educationyears            0
EF                      208
PS                      268
Global                  308
diabetes                  0
smoking                  11
hypertension              0
hypercholesterolemia      0
SVD Simple Score        677
SVD Amended Score       677
Fazekas                   0
lac_count                 0
dtype: int64

In [25]:
print("# of Rows, # of Columns: ",dataset2.shape)
print("\nColumn Name              % Null Values\n")
print(dataset2.isnull().sum()/1842*100) #1842 is the total number of data

# of Rows, # of Columns:  (1842, 16)

Column Name              % Null Values

ID                       0.000000
age                      0.000000
gender                   0.000000
dementia_all             0.000000
educationyears           0.000000
EF                      11.292074
PS                      14.549403
Global                  16.720955
diabetes                 0.000000
smoking                  0.597177
hypertension             0.000000
hypercholesterolemia     0.000000
SVD Simple Score        36.753529
SVD Amended Score       36.753529
Fazekas                  0.000000
lac_count                0.000000
dtype: float64

In [27]:
#Extraction of possible data leakage variables such as SVD SIMPLe score and amended score
dataset_leakage = pd.DataFrame(dataset_clean[['SVD Simple Score', 'SVD Amended Score']])
display(dataset_leakage)

      SVD Simple Score  SVD Amended Score
0                  3.0                7.0
1                  2.0                3.0
2                  1.0                2.0
3                  2.0                4.0
4                  2.0                3.0
...                ...                ...
1837               NaN                NaN
1838               NaN                NaN
1839               0.0                0.0
1840               0.0                0.0
1841               NaN                NaN

[1842 rows x 2 columns]